@media (max-width: 425px) {
  .board {
    &__item {
      padding: 8px 10px;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        margin-right: 10px;
      }
      img {
        margin: 0 10px;
      }
    }

    &__stats {
      flex-direction: column;
    }
  }
}
