.board {
  &__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 8px 20px;
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      margin-right: 30px;
    }
    img {
      margin: 0 30px;
    }
  }

  &__avatar {
    width: 44px;
    height: 44px;
  }

  &__place {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #808080;
  }

  &__score {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }

  &__name {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #40a3c4;
    img {
      width: 25px;
    }
  }
}

@media (max-width: 425px) {
  .board {
    &__item {
      padding: 8px 10px;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        margin-right: 10px;
      }
      img {
        margin: 0 10px;
      }
    }

    &__stats {
      flex-direction: column;
    }
  }
}
