.board {
  margin-top: 20px;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  &__list {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 425px) {
  .board {
    &__list {
      padding: 20px 0;
    }
  }
}
