.board {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    &__heading {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }

    &__controls {
      display: flex;
      align-items: center;
      div {
        display: flex;
        margin-right: 8px;
        cursor: pointer;
      }
      button {
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
      }
      &-next,
      &-prev {
        &:hover {
          svg,
          path {
            fill: black;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .board {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      .header {
        &__heading {
          font-size: 14px;
        }

        &__controls {
          margin-top: 20px;
          flex-direction: column;
        }

        &__navigate {
          color: red;
          display: flex;
          justify-content: space-between;
          width: 50%;
          svg {
            width: 20px;
            height: 20px;
          }
        }

        &__buttons {
          margin-top: 20px;
        }
      }
    }
  }
}
